* {
  box-sizing: border-box;
  font-family: "Helvetica";
  max-width: 60rem;
}

h1 {
  height: 9rem;
  background-color: rgb(65, 165, 195);
  padding-left: 9rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: none;
  margin: 0;
  font-family: "Helvetica", sans-serif;
}

h2 {
  font-family: "Helvetica Light Italic", sans-serif;
  font-style: italic;
  font-size: 12pt;
  padding-left: 6.5rem;
  margin: 0;
  color: white;
}

ul {
  list-style-type: none;
}

nav {
  height: 3rem;
  width: 59rem;
  background-color: rgb(240, 240, 240);
  padding-left: 6.5rem;
  border: none;
  margin-bottom: 2rem;
  float: left;
}

h4 {
  color: rgb(65, 165, 195);
  clear: right;
}

section {
  float: left;
  width: 50%;
  background: none;
  margin-left: 9rem;
}

blockquote {
  font-size: 1.25rem;
  color: rgb(65, 165, 195)
}

aside {
  float: right;
  width: 30%;
  flex-wrap: wrap;
}

footer {
  height: 18rem;
  background-color: black;
  padding-top: 3rem;
  padding-left: 9rem;
  margin-top: 1.5rem;
  align-items: center;
  color: white;
  position: relative;
  text-align: center;
}

img {
  position: relative
  z-index: -1;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.blue-text {
  color: rgb(65, 165, 195);
}

.italic {
  font-style: italic;
}

.float {
  float: left;
}

.relative1 {
  position: relative;
  z-index: -1;
}
.absolute1 {
  position: absolute;
  top: 6rem;
  left: 3rem;
  z-index: 1;
}

.absolute2 {
  position: absolute;
  text-align: center;
  z-index: 2;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

.clearfix::after {
  content:"";
  display: block;
  clear: both;
}
